aiodocker>=0.24.0
asyncpg>=0.30.0
click>=8.0.0
cramjam>=2.9.0
dashscope>=1.14.1
faiss-cpu>=1.9.0.post1
fastapi>=0.103.1
fastavro>=1.10.0
geojson>=3.1.0
grpcio>=1.71.0,<2.0.0
json-with-comments>=1.2.10
langchain-community>=0.3.13
langchain-core>=0.3.28
matplotlib>=3.8.3
mlflow>=2.19.0
networkx>=3.2.1
numpy>=1.20.0,<2.0.0
openai>=1.58.1
pandavro>=1.8.0
protobuf<=4.24.0,<5.0.0
psycopg[binary]>=3.2.3
pycityproto>=2.2.7
pydantic>=2.10.4
python-dotenv>=1.0.0
PyYAML>=6.0.2
ray[default]>=2.40.0
redis >=5.2.1
requests>=2.32.3
Shapely>=2.0.6
sqlalchemy>=2.0.20
torch>=2.5.1
transformers>=4.47.1
uvicorn>=0.23.2